canvas{
    width: 70% !important;
    margin: auto;
}

.digital-currency{
    width: 80% !important;
    margin: auto;
    display: flex;
    flex-direction: column;
}
/////////////////////////////////////////////////////////
@media only screen and (max-width:668px){
    main{
        margin:0 !important;
        .search-box-content{
            h3{
                padding: 15px 0 5px 0;
            }
            .col-right-data-digital-currency{
                display: flex;
                flex-direction: column;
            }            
        }
    }
    
}